* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.background {
    background-color: #101010;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #252525;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transform: .4s;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

.main {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translateY(-50%);
}

.main span {
    color: #f9004d;
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.Container-btn form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.Container-btn form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
    outline: none;
}

.Container-btn form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 6px;
    top: 6px;

}

.sobre{
    background-color: #252525;
    width: 100%;
    padding: 100px 0px;

}

.sobre img {
    width: 430px;
    height: auto;
    border-radius: 50%;
}

.sobre-descricao {
    width: 550px;
}

.main-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: 0 auto;
}

.sobre-descricao h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.sobre-descricao h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.sobre-descricao p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;

}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.projetos {
    background-color: #252525;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.card {
    background: #101010;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.paragrafo {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    padding: 5px 20px;
}

.paragrafo p {
    margin-bottom: 25px;
}

.link{
    color: #f9004d;
    text-decoration: none;
}

.botao-link {
    margin-top: 35px;
    background: red;
    background-color: #f9004d;
    color: white;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    text-decoration: none;
}

.botao-link:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.habilidades {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades ul {
    margin-top: 25px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.habilidades li {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    list-style: none;
}

.habilidades i {
    color: #f9004d;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6 {
    font-size: 35px;
    color: white;
}

footer p {
    color: white;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.redes {
    display: flex;

}

.redes a {
    background-color: #f9004d;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.redes a:hover {
    transform: scale(1.2);
    transition: .3s;
}

.end {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}