.habilidades {
    width: 100%;
    padding: 100px 0;
    background-color: #101010;
}

.icones {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .icones{
        grid-template-columns: repeat(3, 33%);
    }
}

@media screen and (max-width: 580px) {
    .icones{
        grid-template-columns: repeat(2, 50%);
    }
}

.habilidades i {
    color: #f9004d;
    font-size: 4.5rem;
    margin: 0 auto;
    padding: 25px;
}

@media screen and (max-width: 375px) {
    .habilidades i {
        font-size: 3.5rem;
    }
}